.el-dialog__header{
    border-bottom: 1px solid #DDDDDD;
}
.el-dialog__body{
    padding:10px 20px;
}
.titItemBox{
    border: 1px solid #E4E7ED;
    padding:12px;
    border-radius: 5px;
}
.startColor{
    color: #FFC333;
    margin-right: 5px;
    font-size: 20px;
}
